<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")


</head>
<body id="page-top" class="min-vh-100">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg" id="mainNav" style="background-color: #191970; height:80px;">
        <div class="container px-4 ">
            <a href="/Home/"><span><img src="~/Content/img/logo (1).png" /></span></a>
            <div id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    @Html.Partial("_LoginPartial")
                </ul>
               
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer-->
    <footer class="py-5" style="background-color: #191970;>
        <div class="container px-4"><p class="m-0 text-center" style="color: #F8CD0A;">Design By DiemQuynh</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->

    @RenderSection("scripts", required: false)
</body>
</html>

@Scripts.Render("~/Scripts/bootstrap.bundle.js")
@Scripts.Render("~/Scripts/bootstrap.js")
@Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
@Scripts.Render("~/Scripts/js/scripts.js")
<!-- Core theme CSS (includes Bootstrap)-->
<script src="~/Content/ckeditor/ckeditor.js"></script>




