@model TeacherManager.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}


@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/design/css/styles.css")
@Styles.Render("~/Content/design/scss/styles.css")
<style>
    h3{
        color:#191970;
    }
    .btn-save {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
        background-color: #191970;
        color: #F8CD0A;
    }
        .btn-save:hover {
            background-color: #1D1D84;
            color: #F8CD0A;
        }
</style>
<div class="modal fade" id="ModalChangePass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h3>Đổi mật khẩu</h3>
                    <hr>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-floating mb-3">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Pass" })
                <label class="form-label">Mật khẩu cũ</label>
            </div>
            <div class="form-floating mb-3">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Pass" })
                <label class="form-label">Mật khẩu mới</label>
            </div>
            <div class="form-floating mb-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Pass" })
                <label class="form-label">Xác nhận mật khẩu</label>

            </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 d-flex justify-content-center">
                            <input type="submit" value="Lưu thay đổi" class="btn btn-save mt-2 text-uppercase fw-bold" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

               
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

                @Scripts.Render("~/Scripts/bootstrap.bundle.js")
                @Scripts.Render("~/Scripts/bootstrap.js")
                @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
                @Scripts.Render("~/Scripts/js/scripts.js")
