@using TeacherManager.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}


@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/design/css/styles.css")
@Styles.Render("~/Content/design/scss/styles.css")

<style>
    .modal-content {
        background-color: #F8F8FF;
    }
    .card-title{
        color: #191070;
    }
    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
        background-color: #191970;
        color: #F8CD0A;
    }
        .btn-login:hover {
            background-color: #1D1D84;
            color: #F8CD0A;
        }

    
</style>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">          
            <div class="modal-body">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-12 mx-auto">
                        <div class="card border-0 rounded-3 my-5">
                            <div class="card-body">
                                <h3 class="card-title text-center mb-5">Đăng nhập</h3>
                                <form>
                                    <div class="form-floating mb-3">
                                        <input name="Email" type="email" class="form-control" id="floatingInput Email" placeholder="name@example.com">
                                        <label for="floatingInput">Email</label>
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input name="Password" type="password" class="form-control" id="floatingPassword Password" placeholder="Password">
                                        <label for="floatingPassword">Mật khẩu</label>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-check mb-3">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox text-center">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>


                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-login text-uppercase fw-bold" type="submit">
                                            Đăng nhập
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@Scripts.Render("~/Scripts/bootstrap.bundle.js")
@Scripts.Render("~/Scripts/bootstrap.js")
@Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
@Scripts.Render("~/Scripts/js/scripts.js")
